body {
    margin: 0;
    font-family: Arial;
    background: #f0f2f5;
}

/* HEADER */
.header {
    background: linear-gradient(90deg, #c62828, #e53935);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

/* LAYOUT */
.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* BOX */
.left-box, .right-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* LEFT */
.left-box {
    width: 40%;
}

video {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #c62828;
}

/* INPUT */
input {
    width: 65%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* BUTTON */
button {
    padding: 10px;
    background: #c62828;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #8e0000;
}

/* RIGHT */
.right-box {
    width: 60%;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #c62828;
    color: white;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* TOTAL */
#total {
    color: #c62828;
    font-size: 22px;
    margin-top: 10px;
}

/* PAY */
.pay {
    width: 100%;
    background: #2e7d32;
    margin-top: 10px;
}

.pay:hover {
    background: #1b5e20;
}

/* INFO */
.info {
    text-align: left;
    margin-top: 10px;
.auth-box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.auth-box input {
    width: 90%;
    margin: 10px;
    padding: 10px;
}    
}